body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.d-flex {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
ul {
  width: 100%;
  max-width: 500px;
  text-align: center;
}
li {
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

h2 {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid;
}

form {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 30rem;
}
select {
  width: 100%;
  max-width: 325px;
  padding: 1rem;
}
.signin {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #456;
}
.home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: #fdfbfb;
}

i {
  margin-bottom: 1rem;
  padding: 1.1rem;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #0f6eeb;
  position: sticky;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 0.75rem;
  padding-left: 0px;
  margin-left: 0px;
  /* margin-bottom: 1rem; */
  max-width: 380px;
  width: 100%;
}

button {
  color: #fff;
  padding: 0.8rem;
  background-color: #1176e9;
  border: 1px solid #1a6dda;
  margin-top: 1rem;
  width: 100px;
}


label {
  padding: 1rem;
  margin: 0;
  background-color: #ffffff;
  justify-items: center;
  text-align: center;
}
.multiselect {
  width: 200px;
}

.selectBox {
  margin-top: 5rem;
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}