.d-flex {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid;
}
form {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 30rem;
}
.signin {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #456;
}
.col{
  justify-content: center;
}

i {
  margin-bottom: 1rem;
  padding: 1.1rem;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #0f6eeb;
  position: sticky;
}
.primary {
  margin-left: 10rem;
}

button {
  color: #fff;
  padding: 0.8rem;
  background-color: #1176e9;
  border: 1px solid #1a6dda;
  margin-top: 1rem;
  width: 100px;
}

label {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
}

.multiselect {
  width: 250px;
}

.selectBox {
  margin-top: 5rem;
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 25rem;
  margin: 1rem;
}

td{
  border: 1px solid #f8f8f8;
  text-align: center;
}
th {
  border: 1px solid #dddddd;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
  border: 1px solid #dddddd;
}
.center{
  display: flex;
  justify-content: center;
}
